#skillSec{
    background: #150C00;
    padding: 0 5%;
    position: relative;
    height: 65em;
    margin: 0;
}

.techSkill{
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: white;
    left: 100px;
}

.techSkillBar{
    position: relative;
    width: 100%;
    max-width: 71em;
    height: 273px;
    background: #0E0B01;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


.img{
    width: 100%;
    max-width: 89px;
    height: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
}

.circular-bar{
    width: 150px;
    height: 150px;
    background: conic-gradient(#6ef442 1.5deg, #e8f0f7 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
-6px -6px 10px -1px rgba(255,255,255,0);
    margin-bottom: 40px;
    position: relative;
    left: 40px;
    top: 10px;
}

.circular-bar::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    background: #e8f0f7;
    border-radius: 50%;
    box-shadow:inset 6px 6px 10px -1px rgba(0,0,0,0.15),
   inset -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.percent{
    z-index: 1;
    font-size: 20px;
    color: black;
    position: absolute;
}

#proSkill{
    top: 10px;
}

.title{
    position: absolute;
    bottom: 20px;
    z-index: 1000;
}
/*

.circle{
   position: relative;
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #139927;

}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4,
.circle-wrap .circle .fill-5{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 50px);
}

.circle-wrap .circle .mask{
    clip: rect(0px, 200px, 200px, 50px);
}

.mask .fill-1{
    clip: rect(0px, 200px, 200px, 0px);
    background-color: white;
}

.counter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: 700;
    color: white;
    text-align: center;
    z-index: 100;
}

.inner-circle{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background: #0E0B01;
    line-height: 120px;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;

}

.mask .full-1,
.circle .fill-1{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(162deg);
}

@keyframes fill-1 {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(162deg)}
}

.mask .fill-2{
    clip: rect(0px, 50px, 150px, 0px);
    background-color: white;
}

.mask .full-2,
.circle .fill-2{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(162deg);
}
@keyframes fill-2 {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(162deg)}
}

.mask .fill-3{
    clip: rect(0px, 50px, 150px, 0px);
    background-color: white;
}

.mask .full-3,
.circle .fill-3{
    animation: fill-1 ease-in-out 3s ;
    transform: rotate(144deg);
}
@keyframes fill-3 {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(144deg)}
}

.mask .fill-4{
    clip: rect(0px, 50px, 150px, 0px);
    background-color: white;
}

.mask .full-4,
.circle .fill-4{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(270deg);
}
@keyframes fill-4 {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(270deg)}
}

.mask .fill-5{
    clip: rect(0px, 50px, 150px, 0px);
    background-color: white;
}

.mask .full-5,
.circle .fill-5{
    animation: fill-1 ease-in-out 3s infinite;
    transform: rotate(0deg);
}
@keyframes fill-5 {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

*/
